.categorypage_main {
    width: 100%;
    max-width: 100%;
    min-height: 100%;
    padding-top: 80px;
    position: relative;

    .cp_m_fade {
        position: absolute;
        width: 100%;
        min-height: calc(100vh - 80px);
        height: 100%;
        z-index: -1;
        background-color: #393748;
        opacity: 0;
        transition: all 150ms ease-in-out;
    }
    #cp_m_fade {
        z-index: 2;
        opacity: 0.22;
    }

    .cp_m_h1 {
        font-size: 42px;
        margin-top: 80px;
        font-family: Raleway, 'sans-serif';
        padding-left: 100px;
        font-weight: 400;
        color: var(--black);
    }

    .cp_m_product_w {
        padding: 0 50px;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(386px, 1fr));
        justify-items: center;
        margin-top: 103px;
    }

    .cp_m_pagination {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        img {
            transform: translateY(2px);
            width: 20px;
            height: 20px;
            object-fit: scale-down;
            margin-right: 7px;
            cursor: pointer;
        }

        .cp_m_p_ar {
            transform: translateY(2px) rotate(180deg);
            margin-left: 7px;
        }

        p {
            font-family: Raleway, 'sans-serif';
            min-width: 20px;
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: 600;
            font-size: 18px;
        }
    }

    .cp_m_loading {
        font-family: Raleway, 'sans-serif';
        padding-left: 100px;
        padding-top: 20px;
        font-weight: 500;
        font-size: 15px;
    }
}

@media (max-width:720px) {

    .categorypage_main {
        padding-top: 60px;

        .cp_m_fade {
            min-height: calc(100vh - 60px);
        }

        .cp_m_h1 {
            font-size: 30px;
            margin-top: 25px;
            padding-left: 20px;
        }

        .cp_m_product_w {
            padding: 0px 0px;
            grid-template-columns: repeat(auto-fit, minmax(92vw, 1fr));
            margin-top: 60px;
        }

        .cp_m_loading {
            padding-left: 20px;
        }
    }
}